/* html should be as fluid as possible */
html {
  scroll-behavior: smooth;
}

/* required style for body, anchor and classed style */
body, a {
  color: var(--text-color);
}

.visually-hidden {
  display: none;
}

.card-category, .section-tagline {
  color: var(--color-primary);
}

/* declaring variables in CSS */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #fff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}
